.table-container {
  margin: 0 auto;
}

.header-container {
  display: flex;
  background-color: #f2f2f2;
  font-weight: bold;
}

.resizable-header-cell {
  position: relative;
  padding: 8px;
  border-bottom: 2px solid #ccc;
}

.resizing {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 2px;
  background-color: #ccc;
  z-index: 1;
  cursor: col-resize;
}

.even {
  background-color: #e5f3e3;
}

.odd {
  background-color: #fff;
}
